* {
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #f57c00;
  text-decoration: inherit;
}
a:hover {
  color: #e65100;
}

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button:hover {
  border-color: #e65100;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #e65100;
  }
  button {
    background-color: #f9f9f9;
  }
}
