doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title INDEX
    link(rel="stylesheet", href="assets/css/style.css")
  body
    h1 INDEX PAGE
    h2 Description
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolore eligendi ex exercitationem corporis veniam dolorum voluptas culpa aliquam, facilis id, dolorem maiores? Doloribus doloremque quas corrupti, inventore asperiores nemo.
