* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.menu {
    display: flex;
    gap: 10px;
    align-items: center;
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 18px;
    transition: 1s;
}

a:hover {
    border-radius: 5px;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.form {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 7px;
    margin: 15px auto;
}

.error-container {
    display: flex;
    justify-content: center;
    color: red;
    padding: 10px;
}
