.about-container {
    padding: 10px 20px;
    margin-inline: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Optima, sans-serif;
    font-weight: lighter;
    text-align: center;
}

.about-image {
    max-width: 650px;
}