//Header
header {
  padding-inline: 15px;
}

.header_row {
  height: 98px;
}

.btn__header {
  height: 45px;
}

.navbar-toggler {
  transition: 500ms;
}

.navbar-toggler:hover {
  background: rgba(255, 99, 54, 0.5);
  border-radius: 4px;
}


@media screen and (min-width: 1200px) {
  header {
    padding-inline: 50px;
  }
  .btn__header {
    width: 120px;
    font-size: 14px;
  }
}