$primary: #FF6336;
$link-color: black;

@import "../fonts/GraphikLC/stylesheet.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-family: "Graphik LCG", Arial, sans-serif;
  font-size: 14px;
}

.btn {
  border-radius: 0;
  font-size: 14px;
  font-weight: 600;
  text-wrap: nowrap;
}

h1 {
  font-size: 20px;
  font-weight: 600;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  padding-block: 10px;
}

a:hover {
  opacity: 0.5;
}
@import "header";

//Main

//Accelerate
.accelerate {
  padding-inline: 20px;
}
.picture__accelerate {
  padding: 60px 30px;
  max-width: 768px;
}

.container__accelerate {
  max-width: 580px;
}

.trial__accelerate {
  font-size: 12px;
}

.btn__accelerate {
  width: 130px;
  height: 60px;
}

//Companies

.companies {
  background-color: #FF9C7D;
  padding: 47px 20px;
}

.img__companies {
  max-width: 150px;
}

//Functions

.container__functions {
  padding: 30px 20px;
}

.img__functions {
  max-width: 362px;
}

.content__functions {
  max-width: 580px;
  margin-inline: auto;
}

.header__functions {
  padding: 25px 0 15px 0;
  margin-bottom: 0;
}

//Possibilities

.possibilities {
  background-color: #FFF8E4;
  padding: 60px 20px;
}

.item__possibilities {
  padding: 20px 0;
}

//Boost
.carousel-inner {
  padding: 40px 20px;
  min-height: 600px;
}

//Quote
.quote {
  background-color: #C9E8F2;
  padding: 60px 20px;
}
.container__quote {
  max-width: 620px;
}
.img__quote {
  max-width: 310px;
}
.caption__quote {
  padding-block: 40px;
}

//Translation
.translation {
  background-color: #DABC98;
}
.img__translation {
  padding: 72px 20px 22px 20px;
}
.software__translation {
  padding: 22px 20px 60px 20px
}

//Tools
.tools {
  padding: 80px 20px;
}
.img__tools {
  max-width: 90%;
  height: auto;
}
.btn__tools {
  width: 193px;
  height: 60px;
  margin-block: 60px;
}

//Try
.try {
  padding: 48px 20px;
  background-color: #FF9C7D;
}
.header__try {
  max-width: 247px;
}
.text__try {
  padding-block: 40px;
}
.btn__try {
  width: 160px;
  height: 60px;
}

@import "main";
@import "footer";

@media screen and (min-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 26px;
  }
  [class*="text__"], .link__functions {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    padding-block: 28px;
    margin-block: 0;
  }
}