header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-container {
    display: flex;
}

.header-logo {
    max-width: 100px;
}

.header-logo-name {
    min-width: 150px;
}

.header-image {
    width: 300px;
}

.authentication-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}