#root {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


header {
  height: 100px;
}

main {
  flex: 1;
  height: fit-content;
  display: flex;
  gap: 20px;
}

footer {
  height: 50px;
}
